<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.account.mapper.UserMapper" >
  <resultMap id="userMap" type="com.wx.account.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="ticket" property="ticket" jdbcType="VARCHAR" />
    <result column="subscribe_time" property="subscribe_time" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>

  <sql id="table_column" >
    o.id as id, o.openid as openid, o.nickname as nickname, o.sex as sex, o.city as city,
    o.country as country, o.province as province, o.headimgurl as headimgurl, o.ticket as ticket,
    o.subscribe_time as subscribe_time, o.status as status
  </sql>

  <select id="getById" resultMap="userMap" parameterType="java.lang.Long" >
    select
    <include refid="table_column" />
    from user o
    where o.id = #{id}
  </select>

  <insert id="save" parameterType="com.wx.account.model.User" >
    insert into user (id, openid, nickname, sex, city, country, province,
    headimgurl, ticket, subscribe_time, status)
    values (#{id}, #{openid}, #{nickname}, #{sex}, #{city}, #{country}, #{province},
    #{headimgurl}, #{ticket}, #{subscribe_time}, #{status})
  </insert>

  <update id="update" parameterType="com.wx.account.model.User" >
    update user
    <set >
      <if test="openid != null and openid != ''" >
        openid = #{openid},
      </if>
      <if test="nickname != null and nickname != ''" >
        nickname = #{nickname},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="city != null and city != ''" >
        city = #{city},
      </if>
      <if test="country != null and country != ''" >
        country = #{country},
      </if>
      <if test="province != null and province != ''" >
        province = #{province},
      </if>
      <if test="headimgurl != null and headimgurl != ''" >
        headimgurl = #{headimgurl},
      </if>
      <if test="ticket != null and ticket != ''" >
        ticket = #{ticket},
      </if>
      <if test="subscribe_time != null" >
        subscribe_time = #{subscribe_time},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
    </set>
    where id = #{id}
  </update>

  <delete id="delete" parameterType="java.lang.Long" >
    delete from user
    where id = #{id}
  </delete>

  <select id="selectList" parameterType="com.wx.account.model.User"  resultMap="userMap" >
    select
    <include refid="table_column" />
    from user o
    <where >
      <if test="user.openid != null and user.openid != ''" >
        and o.openid = #{user.openid}
      </if>
      <if test="user.nickname != null and user.nickname != ''" >
        and o.nickname = #{user.nickname}
      </if>
      <if test="user.sex != null" >
        and o.sex = #{user.sex}
      </if>
      <if test="user.city != null and user.city != ''" >
        and o.city = #{user.city}
      </if>
      <if test="user.country != null and user.country != ''" >
        and o.country = #{user.country}
      </if>
      <if test="user.province != null and user.province != ''" >
        and o.province = #{user.province}
      </if>
      <if test="user.headimgurl != null and user.headimgurl != ''" >
        and o.headimgurl = #{user.headimgurl}
      </if>
      <if test="user.ticket != null and user.ticket != ''" >
        and o.ticket = #{user.ticket}
      </if>
      <if test="user.subscribe_time != null" >
        and o.subscribe_time = #{user.subscribe_time}
      </if>
      <if test="user.status != null" >
        and o.status = #{user.status}
      </if>
    </where>
  </select>

  <update id="unSubscribe">
    UPDATE `user` set `status` = false where openid = #{openid};
  </update>
</mapper>