<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.account.mapper.UserOtherMapper">
  <resultMap id="BaseResultMap" type="com.wx.account.model.UserOther">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="subscribe_scene" jdbcType="VARCHAR" property="subscribe_scene" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
    <result column="operator_time" jdbcType="TIMESTAMP" property="operator_time" />
    <result column="action" jdbcType="BIT" property="action" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, subscribe_scene, reference, operator_time, action
  </sql>

  <insert id="insert" parameterType="com.wx.account.model.UserOther">
    insert into user_other (id, openid, subscribe_scene, 
      reference)
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{subscribe_scene,jdbcType=VARCHAR}, 
      #{reference,jdbcType=VARCHAR})
  </insert>

  <update id="updateSpreadAction">
    update user_other set action = 1 where openid = #{openid}
  </update>

  <select id="querySpreadInfoByOpenid" resultType="com.wx.account.model.UserOther">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `user_other` where ((openid = #{openid} and reference = #{reference}) or (openid = #{reference} and reference = #{openid})) and action != 1;
  </select>


  <select id="querySpreadNum" resultType="integer">
    select count(*) from user_other where reference = #{openid} and action != 1
  </select>



</mapper>